body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
}

#icon{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
:root{
    --primary-color:#212121 ;
    --secondary-color: #edf2fc;
}
.dark-theme{
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h2,
h3,
a,
.language-label {
    color: var(--primary-color);
}

a {
    text-decoration: none;
}

.logo {
    margin: 0;
    font-size: 1.45em;
}

.main-nav {
    display: flex;
    margin-top: 15px;

}

.logo a,
.main-nav a,
.language-option {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.main-nav a {
    color: var(--primary-color);
    font-size: .99em;
}

.main-nav a:hover {
    color: var(--primary-color);
}

.header {
    display: flex;
    padding-top: .5em;
    padding-bottom: .5em;
    z-index: 1;
    position: absolute;
    background-color: none;
}

.language-option {
    background-color: none;
    color: var(--primary-color);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--secondary-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content>p:hover {
    color:var(--primary-color);
}

.dropdown-content>p>img {
    height: 15px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

/* hero starts here */
.hero-sec {
    height: 525px;
    background-color:var(--secondary-color);
}

#hero-headline {
    margin-left: 7%;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
}

#hero-headline p {
    margin-top: 12%;
    font-size: 34px;
    color:var(--primary-color);
    text-align: left;
    max-width: 58%;
}

.main {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: 4rem;
}




#spare-time {
    font-size: 1rem;
    font-style: italic;
    letter-spacing: 1rem;
    margin-top: 0;
    color:var(--primary-color);

}

.roller #rolltext {
    position: absolute;
    top: 0;
    animation: slide 5s infinite;
}



/* current exhibitions */
.ongoing-exhib,
.our-gallery>p,
.artisan-hub,
.upcoming-exhib {
    margin-left: 8%;
    margin-top: 4%;
    margin-bottom: 0;
    padding-bottom: 0;
    color: var(--primary-color);
    font-size: 25px;
    font-weight: 800;
}

.ongoing-exhib-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    justify-content: center;
}

.oe-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

img.oe-flex-item {
    height: 200px;
    width: 200px;
    overflow: hidden;
    display: block;
    width: 200px;
    z-index: -1;
    height: 200px;
    transition: transform 0.3s;
}

h3,
p.oe-flex-item {
    margin: 0;
    margin-top: 10px;
    max-width: 200px;
}


/* our gallery */
.our-gallery {
    background-color:var(--secondary-color);
    margin-top: 40px;
}

.our-gallery-container {
    padding: 4%;
    margin-top: 0%;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.our-gallery-img {
    margin: 10px;
    height: 120px;
    width: auto;
}

.our-gallery-btn {
    display: flex;
    justify-content: right;
}

#explore-gallery {
    margin-top: 18px;
    margin-right: 4%;
    border: var(--primary-color);
    color: var(--primary-color);
    background-color: transparent;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    border-radius: 8px;
    margin-bottom: 20px;
}


/* artisan hub */
.artisan-hub-info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 55px;
    justify-content: center;
    align-items: center;
    margin-left: 8%;
    margin-right: 8%;
}

.artisan-hub-info-flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.artisan-info img {
    height: 50px;
    align-items: center;
}

.artisan-info {
    display: flex;
    align-items: flex-start;
}

.artisan-info img {
    max-width: 100%;
    margin-right: 10px;
    /* Adjust the margin as needed */
}

.artisan-info p {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color:var(--primary-color);
}

.artisan-info-details {
    padding-left: 55px;
}

/* upcoming exhibitions */
.upcoming {
    background-color:var(--secondary-color);
    padding-bottom: 30px;
}

.upcoming-exhib {
    color:var(--primary-color);
    padding-top: 40px;
}

.upcoming-exhib-about {
    color: var(--primary-color)6;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.3%;
    padding: 10px 50px;
    color: var(--primary-color);
}

.row {
    margin: 0 -5px;
    padding-top: 30px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}



.card {
    
    padding: 12px;
    text-align: center;
    background-color: var(--secondary-color);
    transition: 0.3s;
    border-radius: 10px;
}



.upcoming img {
    border-radius: 10px 10px 10px 10px;
}

/* newsletter */

* {
    box-sizing: border-box;
}




.box {
    
    background-color: var(--secondary-color);
    border-radius: 20px;
    
    padding: 30px;
    text-align: center;
    max-width: 500px;
}

.box h2 {
    margin: 10px 0 0;
}

.box p {
    color: var(--primary-color);
    margin: 10px;
}

.box img {
    max-width: 100%;
    width: 400px;
}

.form-control {
    position: relative;
    margin: 30px 0 20px;
}

.input {
    border: 0;
    border-radius: 50px;
    
    display: block;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    height: 42px;
    padding: 12px 25px;
    width: 100%;
}

.btn {
    background-color:var(--secondary-color);
    border: 0;
    border-radius: 50px;
    color:var(--primary-color);
    font-size: 14px;
    height: 42px;
    padding: 12px 25px;
    position: absolute;
    top: 0;
    right: 0;
}

.input:focus,
.btn:focus {
    outline: 0;
}

.floating-btn {
    border-radius: 26.5px;
    background-color:var(--secondary-color);
    border: 1px solid #001F61;
    
    color: var(--primary-color);
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}



.floating-btn:focus {
    outline: none;
}

.floating-text {
    background-color: var(--secondary-color);
    border-radius: 10px 10px 0 0;
    color: var(--primary-color);
    font-family: 'Muli';
    padding: 7px 15px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 998;
}

.floating-text a {
    color: var(--primary-color);
    text-decoration: none;
}


::selection {
    background: transparent;
}



/* -------------FOOTER-------------------------- */



.footer {
    margin-top: 380px;
    margin-left: 30px;
    margin-right: 30px;
    background-color:var(--secondary-color);
    padding: 20px 20px;
    color: var(--primary-color);
    font-family: Arial, sans-serif;
}

.footer .social-media{
    
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}
.newsletter .newsletter-row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-text{
    text-align: center;
    text-wrap: wrap;
}
.copyright{
    text-align: center;
    background-color: var(--secondary-color);
    color:var(--primary-color);
}
.footer-links{
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 35px;
    align-items: center;
}
.btn-social {
    font-size: 24px;
    color: red;
    margin-right: 15px;
}


